[submodule "Modules/BEEF"]
	path = Modules/BEEF
	url = https://github.com/FTG-Studios/BEEF.git
[submodule "Modules/BISC-Docs"]
	path = Modules/BISC-Docs
	url = https://github.com/FTG-Studios/BISC-Docs
